<div class="sixteen columns">
  {{analysis-chart
    breakEvenQuantity=breakEvenQuantity
    sellingPrice=sellingPrice
    fixedCosts=fixedCosts
    unitCosts=unitCosts
  }}
</div>

<div class="eight columns">
  <div>
    <label>Fixed Costs
    {{input type="number" value=fixedCosts}}
    </label>
  </div>
  <div>
    <label>Unit Costs
    {{input type="number" value=unitCosts}}
    </label>
  </div>
  <div>
    <label>Selling Price
    {{input type="number" value=sellingPrice}}
    </label>
  </div>
</div>

<div class="eight columns">
  {{break-even-analysis-equation
    breakEvenQuantity=breakEvenQuantity
    sellingPrice=sellingPrice
    fixedCosts=fixedCosts
    unitCosts=unitCosts
  }}
</div>
