<div class="sixteen columns">
  {{analysis-chart
    breakEvenQuantity=breakEvenQuantity
    sellingPriceValue=sellingPrice
    fixedCostsValue=fixedCosts
    unitCostsValue=unitCosts
  }}
</div>

<div class="sixteen columns">
  <div class="four columns">
    <label>Break Even Quantity</label>
    <p>{{breakEvenQuantity}}</p>
  </div>
  <div class="four columns">
    <label>Fixed Costs
    {{input type="number" min=0 value=fixedCosts}}
    </label>
  </div>
  <div class="four columns">
    <label>Unit Costs
    {{input type="number" min=0 value=unitCosts}}
    </label>
  </div>
  <div class="four columns">
    <label>Selling Price
    {{input type="number" min=0 value=sellingPrice}}
    </label>
  </div>
</div>

<div class="sixteen columns">
  {{break-even-analysis-equation
    breakEvenQuantity=breakEvenQuantity
    sellingPrice=sellingPrice
    fixedCosts=fixedCosts
    unitCosts=unitCosts
  }}
</div>
